<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>
  <div class="wrapper">
    <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.ja"><img alt="クリエイティブ・コモンズ・ライセンス"
                                                                                    style="border-width:0"
                                                                                    src="https://i.creativecommons.org/l/by/3.0/88x31.png"/></a><br/><span
          xmlns:dct="http://purl.org/dc/terms/" property="dct:title">CoderDojo千葉県</span> は千葉県内各CoderDojoが共同で管理しているページで、<a rel="license"
                                                                                                         href="http://creativecommons.org/licenses/by/3.0/deed.ja">クリエイティブ・コモンズ
    表示 3.0 非移植 ライセンスの下で提供されています。</a>
  </div>
  <div class="wrapper">
    地図に関しては、<a href="https://n.freemap.jp/tw/20190321_16134032079" target="_blank" rel="noopener">白地図ぬりぬり</a>より提供されている地図を利用しております。(CC BY)
  </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="{{ "/js/jquery.matchHeight.js" | relative_url }}"></script>
<script src="{{ "/js/common.js" | relative_url }}"></script>
